<script type="text/javascript">
    $("html").addClass("tut");
</script>

<script type="text/javascript">

    function wireupGeo() {
        $(document).live("pageshow", function (event, prevPage) {
            debugger;
            initGeoMap();
            initGeoPrompt();
        });
    }

    function log(message) {
        console.log ? console.log(message) : alert(message);
    }

    function showNearestFirst()
    {
        debugger;
        if (localStorage.lat)
        {
            $.ajax({
                url: "/SalesmanModels/SequenceSalesman",
                type: "get",
                accepts: "application/html",
                data: { "lat": localStorage.lat, "lng": localStorage.lng },
                success: function (responseHTML) {
                    // Update partial view
                    //debugger;
                    $("#salesmanList").html(responseHTML + "<p>Ordered by nearest first :-)</p>").trigger("create");
                }
            });
        }
    }


    function drawMapOrRoute() {
        debugger;
        if (!localStorage.lat) {
            drawGeoMap();
        }
        else {
            drawGeoRoute();
        }
    }

    function initGeoMap()
    {
        debugger;
        tut.maps.map_canvas(document.querySelector(".maps>div"));
        tut.maps.originalStation = [@ViewBag.Latitude, @ViewBag.Longitude];
        tut.maps.initialize(); // Draw Map
    }


    function drawGeoMap() {
        debugger;
        log(tut.maps.drawMap());
    }

    function drawGeoRoute() {
        debugger;
        log(tut.maps.drawRoute());
    }

    function geoCallback(position) {
        debugger;
        log("User location locked-on.");
        localStorage.lng = position.coords.longitude;
        localStorage.lat = position.coords.latitude;
        localStorage.timestamp = new Date().getTime();
        var currentPage = $.mobile.activePage[0].Id;
        if (currentPage == "salesmanCollectionPage") {
            showNearestFirst();
        }
        else if (currentPage == "salesmanDetailPage") {
            drawMapOrRoute();
        }
        
    }

    function geoErrorCallback(error) {
        //debugger;
        log("Error - User location not locked on.");
    }

    function initGeoPrompt()
    {
        var timenow = new Date().getTime();
        var geoLocateTime = localStorage.timestamp == null ? 0 : localStorage.timestamp;
        debugger;
        if ((timenow - geoLocateTime) > 1) {
            if (navigator.geolocation) {
                //debugger;
                //if (!(localStorage.lng || localStorage.lat))
                navigator.geolocation.getCurrentPosition(geoCallback(), geoErrorCallback, {
                    enableHighAccuracy: false,
                    timeout: 120000,
                    maximumAge: 1
                });
            }
        }            
    }

    $(document).ready(function () {
        //debugger;
        wireupGeo();
    });

</script>
